<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head.ejs') %>
<body>
    <%- include('../partials/header.ejs') %>
</body>
<div>
    <a href="/fruit">Fruits App Home</a>
    <form action="/fruit" method="post">
        <fieldset>
            <legend>Create a new fruit</legend>
            <label>Name: <input type="text" name="name" placeholder="enter fruit"/></label>
            <label>Color: <input type="text" name="color" placeholder="enter fruit color"/></label>
            <label>Ready To Eat: <input type="checkbox" name="readyToEat"/></label>
            <input type="submit" value="create new fruit" />
        </fieldset>
    </form>
</div>
</html>